/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body {margin:0; padding:0}
body {
    background-color:#FFFFF0;
    margin:15px 5px 15px 5px;
    background-image: url("../images/image_fond.gif");
    background-repeat: no-repeat;
}
h1 {
    font-family:'trebuchet MS', sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:center;
}
h2 {
    font-family:trebuchet;
    font-size:100%;
    color:#696969;
    background-color:transparent;
    text-align:center;
}
h3 {
    font-family:trebuchet;
    font-size:100%;
    color:silver;
    background-color:transparent;
    text-align:center;
}
p {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
}
li {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    background-color:transparent;
    text-align:left;
    margin-left:5px;
    margin-right:5px;
}
a:link {
    font-family:times new roman, serif;
    font-size:100%;
    color:gray;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    font-family:times new roman, serif;
    font-size:100%;
    color:#00bfff;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
    font-family:times new roman, serif;
    font-size:100%;
    color:cyan;
    background-color:navy;
    text-decoration:overline;
}
a:active, a:focus {
    font-family:times new roman, serif; font-size:100%; color:black; background-color:transparent; text-decoration:underline; }
table {
    border-color:white;
    border-style:solid;
    border-width:1px;
}
td {
    font-family:verdana, sans-serif;
    font-size:100%;
    color:black;
    text-align:left;
    background-color:transparent;
    border-color:white;
    border-style:solid;
    border-width:1px;
}
